* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.my_logo {
  width: 20%;
  text-align: center;
}

.my_logo h1 {
  letter-spacing: 1rem;
}
.navbar-menu {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar-list {
  display: flex;
  gap: 5rem;
  text-decoration: none;
}
.navbar-list li {
  list-style-type: none;
}
.navbar-list li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: black;
  position: relative;
}
.navbar-list li a::after {
  content: "";
  height: 0.2rem;
  width: 0;
  top: 100%;
  left: 0;
  display: block;
  transition: all 0.5s linear;
  background-color: rgb(226, 10, 100);
}
.navbar-list li a:hover::after {
  width: 100%;
}
.navbar-list li a::before {
  content: "";
  height: 0.2rem;
  width: 0;
  left: 0;
  display: block;
  transition: all 0.5s linear;
  background-color: rgb(226, 10, 100);
}
.navbar-list li a:hover::before {
  width: 100%;
}
.links {
  display: flex;
  gap: 2rem;
}
.links a {
  font-size: 2.5rem;
}
.btn-links {
  display: flex;
  justify-content: center;
  color: rgb(226, 10, 100);
  align-items: center;
  padding: 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.4rem rgb(255, 0, 106);
}

/* home page css----------------- */
.home {
  height: 90vh;
  width: 100%;
  position: relative;
  background: rgba(21, 6, 109, 0.1);
}
.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  animation: slide 1.2s linear;
}
@keyframes slide {
  0% {
    transform: translate(-50%, 150%);
  }
  100% {
    transform: translate(-50%, -60%);
  }
}
.heading {
  letter-spacing: 0.5rem;
  font-size: 5rem;
}
.para {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}
.btn {
  padding: 0.5rem 1.5rem;
  background-color: pink;
  border-radius: 0.5rem;
  border: 2px solid rgb(226, 10, 100);
}
.btn a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  color: rgb(226, 10, 100);
}

/*-------------------- About page css----------------- */
.about-me {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  animation: aboutPage 1s linear;
}
@keyframes aboutPage {
  0% {
    top: 50vh;
  }
  100% {
    top: 10vh;
  }
}

.summary-div {
  width: 80%;
  text-align: center;
  margin: 0 auto 5rem auto;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.summary-div .heading {
  position: relative;
}
.summary-div .heading::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 21%;
  height: 0.29rem;
  left: 39%;
  background-color: rgb(226, 10, 100);
}

.summary-div .para {
  word-spacing: 0.5rem;
  font-size: 2.5rem;
  line-height: 3rem;
}
.Edu-Cards .heading {
  position: relative;
  text-align: center;
  margin: 5rem 0;
}

.Edu-Cards .heading::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 23%;
  height: 0.29rem;
  left: 38%;
  background-color: rgb(226, 10, 100);
}
.Education-div {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  width: 40rem;
  height: 20rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.4rem rgb(255, 0, 106);
}
.cards p {
  font-size: 2rem;
}
.cards h1 {
  letter-spacing: 0.2rem;
}

/*---------------------- skills components------------------- */
.skills {
  margin: 5rem 0 0 0;
  padding-bottom: 5rem;
}
.skill-heading {
  position: relative;
  text-align: center;
}
.skill-heading::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 15%;
  height: 0.29rem;
  left: 42.5%;
  background-color: rgb(226, 10, 100);
}
.skills h2 {
  letter-spacing: 0.2rem;
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
}
.tecnologies {
  width: 80%;
  margin: 5rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  flex-wrap: wrap;
}
.image img {
  width: 15rem;
  height: 15rem;
}

/*=================== contact component =================== */
.contact {
  width: 90%;
  margin: auto;
  height: 90vh;
  position: relative;
}
.contact-section {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-section .heading {
  position: relative;
}
.contact-section .heading::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 34%;
  height: 0.29rem;
  left: 33%;
  background-color: rgb(226, 10, 100);
}
.contact h1 {
  text-align: center;
}
.contact-details {
  justify-content: space-between;
  gap: 10rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
}
.details {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  animation: detail 1s linear;
}
@keyframes detail {
  0% {
    translate: -30rem 0rem;
  }
  100% {
    translate: 0rem 0rem;
  }
}

.details p {
  font-size: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  animation: form 1s linear;
}
@keyframes form {
  0% {
    translate: 30rem 0rem;
  }
  100% {
    translate: 0rem 0rem;
  }
}

.input-filds {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: 0.2rem solid black;
  border-radius: 0.5rem;
}

.sub-detail {
  display: flex;
  align-items: center;
  font-size: 3rem;
}
.sub-detail .btn {
  border-color: rgb(6, 207, 6);
  background-color: rgb(114, 253, 114);
}
